<launch>

  <!-- <arg name="odom_topic" value="/ugv/odometry" /> -->


  <arg name="odom_topic" value="/car_0/odometry"/>
  <arg name="cmd_topic" value="/car_0/cmd"/>
  <arg name="car_id" value="0" />
  <arg name="init_x" value = "0"/>
  <arg name="init_y" value = "0"/>
  <arg name="init_yaw" value = "0"/> 


  <!-- <arg name="cmd_topic" value="/ugv/command" /> -->
    <!-- kimatic simulator -->
  <node pkg="kimatic_simulator" name="car_$(arg car_id)_ugv_kimatic_simulator" type="kimatic_simulator_node" output="screen">
      <param name="max_height" value="0.3" />
      <param name="init_x" value="$(arg init_x)"/>
      <param name="init_y" value="$(arg init_y)"/>
      <param name="init_z" value="0.0"/>
      <param name="init_yaw" value="$(arg init_yaw)"/>
      <remap from="~command" to="$(arg cmd_topic)"/>
      <remap from="~odometry" to="$(arg odom_topic)"/>
      <remap from="~marker" to="$(arg odom_topic)_marker"/>
  </node>
  <rosparam command="load" file="$(find mpc_controller)/params/controller.yaml" />
  <!-- <rosparam command="load" file="$(find kinematics_simulator)/params/simulator.yaml" /> -->

  <node pkg="mpc_controller" name="mpc_controller_node" type="mpc_controller_node" output="screen">
    <remap from="cmd" to="$(arg cmd_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="traj" to="/planner/trajectory"/>
    <remap from="dptraj" to="/planner/dptrajectory"/>
    
  </node>
   
  <!-- <node pkg="kinematics_simulator" type="kinematics_simulator_node" name="kinematics_simulator_node" output="screen" required="true">
    <remap from ="~cmd" to="$(arg cmd_topic)"/>
    <remap from="~odom" to="$(arg odom_topic)"/>
  </node> -->

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mpc_controller)/rviz/test.rviz" required="true" />

</launch>