<launch>
 
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find plan_manage)/launch/multi_sim.rviz" required="true" />
  <arg name="in_swarm" default="true"/>
  <arg name="cars_num" value="0" />
  <arg name="car_id" value="0"/>
  <arg name="car_width" value="0.5"/>
	<arg name="car_length" value="0.5"/>

	<!--arg name="init_x" value="-10.0"/>
	<arg name="init_y" value="-12.0"/>
	<arg name="init_yaw" value="1.57"/-->

	<arg name="init_x" value="0.0"/>
	<arg name="init_y" value="0.0"/>
	<arg name="init_yaw" value="0.0"/>

	<!-- <arg name="target_x" value="10.0"/>
	<arg name="target_y" value="12.0"/>
	<arg name="target_yaw" value="0.0"/> -->
	<arg name="target_x" value="32.0"/>
	<arg name="target_y" value="0.0"/>
	<arg name="target_yaw" value="0.0"/>

	<arg name="odometry_topic" value="/ekf_quat/ekf_odom"/>
	<arg name="lidar_topic" value="/cloud_registered"/>

	<arg name="cmd_topic" value="/hunter_cmd"/>
	<arg name="traj_topic" value="/car_0/minco_traj"/>
  <!-- main node -->
  <arg name="velocity_suffix" value="1ms"/>
  <arg name="max_vel" value="2.0" />
  <arg name="max_acc" value="0.5" />
  <arg name="max_cur" value="0"/>
  <!-- <node pkg="plan_manage" type="plan_node" name="plan_node0" output="screen">
    <rosparam file="$(find plan_manage)/config/planning.yaml" command="load" />
    <param name="data/mapid" value="1" type="int"/>
    <param name="data/pathid" value="1" type="int"/>
</node> -->
 <node pkg="plan_manage" type="plan_node" name="plan_node0" output="screen" >
  <!-- <node pkg="traj_planner" name="car_$(arg car_id)_planner_node" type="planner_node" output="screen">    -->

    <!-- <rosparam file="$(find traj_planner)/config/kinoastar.yaml" command="load"/>
    <rosparam file="$(find traj_planner)/config/car$(arg velocity_suffix).yaml" command="load"/>
    <rosparam file="$(find traj_planner)/config/global_planning$(arg velocity_suffix).yaml" command="load"/> -->
   
    <rosparam file="$(find plan_manage)/config/planning.yaml" command="load" />
    <param name="data/mapid" value="1" type="int"/>
    <param name="data/pathid" value="1" type="int"/>
    <remap from="~traj" to="$(arg traj_topic)"/>
    <param name="odometry_topic" value="$(arg odometry_topic)"/>

    <!-- planning fsm -->
    <param name="vehicle/cars_num" value="$(arg cars_num)" />
    <param name="vehicle/car_id"  value="$(arg car_id)" />
    <param name="vehicle/car_width"  value="$(arg car_width)" />
    <param name="vehicle/car_length"  value="$(arg car_length)" />

    <param name="fsm/target_x"  value="$(arg target_x)" />
    <param name="fsm/target_y"  value="$(arg target_y)" />    
    <param name="fsm/target_yaw" value="$(arg target_yaw)" />
    <param name="fsm/in_swarm" value="$(arg in_swarm)" />

    <param name="planning/car_id"  value="$(arg car_id)" />
    <param name="planning/traj_piece_duration" value="1.0"/>
    <param name="planning/traj_res" value="8"/>
    <param name="planning/dense_traj_res" value="20"/>

  </node>

</launch>